.project_container {
    padding: 2em;
    user-select: none;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.title_container a{
    margin-right: 2.2em;
}






