* {
    -webkit-tap-highlight-color: transparent;
}
.btn{
    background: transparent;
    color: #8a1607;
    padding: 0.5em 1em;
    text-decoration: none;
    transition:  1s;
    user-select: none;
    border: 1px solid #8a1607;
    border-radius: 10px;
    margin-bottom: 3em;
    font-size: 20px;
    cursor: pointer;
    filter: drop-shadow(0 0 10px #850404) brightness(1.1);
}

.btn:hover{
    background: #8a1607;
    color: white;
    border: none;
}








